# Status onboarding

This script runs a `sql` code to create a panel data, based on the `case_records_current` table, where we have each `ICD-10` member change of status, and the link between the status change with change in daly weights. 
The calculation involves a lot of cleaning,   such as desconsidering impetous changes of status or *cancelled* icds status as the first status input, etc, we leave that for the sql code, and here is just the script to 
run it and export to the redshift.

Steps:

    - run this notebook to upload to Redshift;
    
    - use the new panel to make calculations, new tables, dashes...
***

## 0. Setup

In [1]:
#connection to redshift
from redshift_import_export.interfaces.data_interactor import DataInteractor
di = DataInteractor()
import requests


#standard packages
import warnings
warnings.filterwarnings('ignore')
import os
import collections
import pandas as pd
import numpy as np



#time packages
import datetime as dt

## 1. Import

In [5]:
df = pd.read_csv(os.path.abspath(os.path.join(os.getcwd(), os.pardir)) + '/data/external/Status Onboarding Manual - DW - DADOS.csv')
df.head(10)

,member_internal_code,membership_phi_sk,follow_up_expected,category,Status,Obs
0,NC18V46,ddw,Jornada Bem-Estar,Primeiro PDA,Concluído,Manutenção
1,NC1HQEB,NaN,Consulta 20 min,Screening,Concluído,Mudança de Produto
2,NC1ETEJ,NaN,Consulta 20 min,Primeiro PDA,Concluído,Estava SEM CID
3,NC1T3AW,NaN,Jornada Bem-Estar,Screening,Concluído,Manutenção
4,NC1BSQD,NaN,Consulta 20 min,Primeiro PDA,Concluído,Mudança de Produto
5,NC1SJ0T,NaN,Consulta 20 min,Screening,Concluído,Mudança de Produto
6,NC1OSEW,NaN,Jornada Bem-Estar,Primeiro PDA,Concluído,-
7,NC1ZYIM,NaN,Consulta 20 min,Screening,Concluído,Mudança de Produto
8,NC1KXK3,NaN,Jornada Bem-Estar,Primeiro PDA,Concluído,Manutenção
9,NC1F41G,NaN,Consulta 20 min,Screening,Concluído,Onsite

## 3. Export

In [6]:
di.redshift.insert_table(df, table_name='aux_status_onboarding_manual_table', if_exists='replace')

Table aux_status_onboarding_manual_table inserted successfully, with 44 rows.